.navbar {
  margin: 0 !important;
  width: 100%;
  position: fixed;
  opacity: 0.8; }

.nav-logo {
  height: 2em !important; }

.home-logo {
  margin-top: 5em;
  height: 12em !important; }

.right {
  position: fixed;
  height: 2em;
  right: 0;
  margin: 0 4em; }

.margin-left {
  margin-left: 4em; }

.top-title h1 {
  margin-top: 3em; }

.top-title p {
  margin: 0 0 3em; }

.top-title .checkout button {
  margin: 2em 1em; }

.about {
  padding: 0 15em; }
  .about .padding {
    padding: 1em 5em; }

.kits {
  padding: 0 15em; }
  .kits .jumbotron {
    margin: 0 5em !important; }
  .kits .kit img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 12em;
    width: 14em; }
  .kits .kit .left-align {
    text-align: justify; }
  .kits .kit .margin-top {
    margin-top: 3em; }
  .kits #image {
    margin-left: -18em; }

.learn {
  padding: 0 15em; }
  .learn .learn-pic {
    height: 40em !important;
    width: 50em !important; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #3F51B5;
  text-align: center; }
